<section class="ss_section_four spacer_bottom"> <!--===== Section Four Start =====-->
    <div class="container-fluid">
        <div class="fw-row">
            <div class="fw-col-xs-12">
                <div class="index_three" style="padding-top: 50px;">
                    <h3 style="color:#4a617e;" class="ss_h3_center text-center heading_bar">Gallery</h3>
                    <H1 style="color:#4a617e;text-transform:capitalize;font-size:40px;font-weight:500;line-height:50px;"
                        class="text-center">Our Completed Projects</H1>
                </div>
            </div>
        </div>
        <div class="row">
            {{ gallery:images }}
            <div class="col-lg-4">
                <div class="ss_four_right" style="margin-top: 30px;">
                    <img class="img-fluid ss_four_shadow" style="border-radius: 10px;" src="{{ url }}" alt="image" title="image" />
                </div>
            </div>
            {{ /gallery:images }}
        </div>
    </div>
</section> <!--===== Section Four End =====-->
