<div class="ss_banner_main banner_three"> <!--===== Banner =====-->
    <div class="row">
        <div class="col-xl-5 col-lg-6 align-self-center">
            <div class="ss_banner_left">
                <h1>{{ hero_heading }}</h1>
                <a href="{{ hero_button_link }}" class="ss_btn violet_btn">{{ hero_button_text }}</a>
            </div>
        </div>
        <div class="col-xl-7 col-lg-6">
            <div class="ss_banner_right">
                <img class="img-fluid" src="{{ hero_image }}" alt="{{ hero_image:alt }}" />
            </div>
        </div>
    </div>
    <div class="solar_waves">
        <div class="solar_wave"></div>
        <div class="solar_wave"></div>
        <div class="solar_wave"></div>
    </div>
    <div class="shape_dot">
        <img class="img-fluid"
            src="https://kamleshyadav.com/html/solar-supplier/html/bootstrap-5/assets/images/shape_dot.png"
            alt="image" />
    </div>
    <div class="shape_wave2">
        <img class="img-fluid" src="assets/images/wave.png" alt="image" />
    </div>
</div>

<section class="ss_section_two"> <!--===== Section Two Start =====-->
    <div class="container-fluid">
        <div class="ss_two">
            <div class="row">
                {{ top_services }}
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="ss_two_sec wow fadeIn" data-wow-delay="0.1s">
                        <img class="img-fluid" src="{{ service_icon }}" alt="{{ service_icon:alt }}" />
                        <h2>{{ title }}</h2>
                        <p>{{ content }}</p>
                    </div>
                </div>
                {{ /top_services }}
            </div>
        </div>
    </div>
</section> <!--===== Section Two End =====-->

<section class="ss_section_three spacer_bottom"> <!--===== Section Three Start =====-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="ss_three_left">
                    <img class="img-fluid" src="{{ about_image }}" alt="image" />
                </div>
            </div>
            <div class="col-lg-6 align-self-center">
                <div class="ss_three_right wow fadeIn" data-wow-delay="0.1s">
                    <h3>{{ about_sub_heading }}</h3>
                    <h1>{{ about_heading }}</h1>
                    {{ about_description }}
                    <a href="{{ aboutus_button_link }}" class="ss_btn">{{ about_button_text }}</a>
                </div>
            </div>
        </div>
    </div>
</section> <!--===== Section Three End =====-->

<section class="ss_section_five ss_section_sec_bg spacer_top spacer_bottom"> <!--===== Section Five Start =====-->
    <div class="container-fluid">
        <h3 class="ss_h3_center text-center">{{ why_sub_heading }}</h3>
        <h1 class="text-center mb-5">{{ why_heading }}</h1>
        <div class="row">
            <div class="col-xl-4 col-lg-6">
                <div class="ss_four_left wow fadeIn" data-wow-delay="0.1s">
                    {{ why_points limit="3" }}
                    <div class="ss_box_bg mt-4">
                        <div class="row">
                            <div class="col-3">
                                <div class="ss_four_one">
                                    <img class="img-fluid" src="{{ point_icon }}" alt="image" />
                                </div>
                            </div>
                            <div class="col-9">
                                <div class="ss_four_two">
                                    <h2>{{ point_heading }}</h2>
                                    <p>{{ point_description }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{ /why_points }}
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 order-xl-last mt-lg-0 mt-md-4">
                <div class="ss_four_left wow fadeIn" data-wow-delay="0.1s">
                    {{ why_points offset="3" }}
                    <div class="ss_box_bg mt-4">
                        <div class="row">
                            <div class="col-3">
                                <div class="ss_four_one">
                                    <img class="img-fluid" src="{{ point_icon }}" alt="image" />
                                </div>
                            </div>
                            <div class="col-9">
                                <div class="ss_four_two">
                                    <h2>{{ point_heading }}</h2>
                                    <p>{{ point_description }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{ /why_points }}
                </div>
            </div>
            <div class="col-xl-4 offset-xl-0 col-lg-6 offset-lg-3"
                style="height: 100%; display: flex; align-items: center; justify-content: center;">
                <img src="{{ wcu_image }}" alt="Descriptive text"
                    style="max-height: 100%; max-width: 100%; object-fit: contain;" />
            </div>

        </div>
    </div>
</section> <!--===== Section Five End =====-->

<section class="ss_section_four spacer_top spacer_bottom"> <!--===== Section Four Start =====-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 align-self-center">
                <div class="ss_five_right wow fadeIn" data-wow-delay="0.1s">
                    <h3>{{ sustainable_sub_heading }}</h3>
                    <h1>{{ sustainable_heading }}</h1>
                    {{ sustainable_description }}
                    <a href="{{ sustainable_button_link:url }}" class="ss_btn">{{ sustainable_button_text }}</a>
                </div>
            </div>
            <div class="col-lg-6 align-self-center">
                <div class="ss_four_right">
                    <img class="img-fluid ss_four_shadow" src="{{ sustainable_image }}" alt="image" title="image" />
                </div>
            </div>

        </div>
    </div>
</section> <!--===== Section Four End =====-->

<section class="ss_section_six ss_section_sec_bg spacer_top spacer_bottom"> <!--===== Section Six Start =====-->
    <div class="container-fluid">
        <h3 class="ss_h3_center text-center">{{ solutions_sub_heading }}</h3>
        <h1 class="text-center mb-5">{{ solutions_heading }}</h1>
        <div class="row">
            {{ solutions_list }}
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="ss_six_product wow fadeIn" data-wow-delay="0.1s">
                    <div class="ss_six_p_img ss_box_bg">
                        <img class="img-fluid" src="{{ thumbnail_image }}" alt="image" title="image" />
                    </div>
                    <div class="ss_product_content ss_box_bg">
                        <a href="{{ url }}">
                            <h2>{{ title }}</h2>
                        </a>
                        <p>{{ content }}</p>
                    </div>
                </div>
            </div>
            {{ /solutions_list }}
        </div>
    </div>
</section> <!--===== Section Six End =====-->


<section class="ss_section_four spacer_top spacer_bottom"> <!--===== Section Four Start =====-->
    <div class="container-fluid">
        <div class="fw-row">
            <div class="fw-col-xs-12">
                <div class="index_three" style="padding-top: 50px;">
                    <h3 style="color:#4a617e;" class="ss_h3_center text-center heading_bar">Gallery</h3>
                    <H1 style="color:#4a617e;text-transform:capitalize;font-size:40px;font-weight:500;line-height:50px;"
                        class="text-center">Our Completed Projects</H1>
                </div>
            </div>
        </div>
        <div class="row">
            {{ gallery:images }}
            <div class="col-lg-4">
                <div class="ss_four_right" style="margin-top: 30px;">
                    <img class="img-fluid ss_four_shadow" style="border-radius: 10px;" src="{{ url }}" alt="image" title="image" />
                </div>
            </div>
            {{ /gallery:images }}
        </div>
    </div>
</section> <!--===== Section Four End =====-->

<section class="fw-main-row " style="background-color:#f7f9fe;">
    <div class="fw-container">
        <div class="fw-row">
            <div class="fw-col-xs-12">
                <div class="index_three" style="padding-top: 50px;">
                    <h3 style="color:#4a617e;" class="ss_h3_center text-center heading_bar">Blogs</h3>
                    <H1 style="color:#4a617e;text-transform:capitalize;font-size:40px;font-weight:500;line-height:50px;"
                        class="text-center">Explore how industrial sectors are harnessing solar energy to drive
                        efficiency, sustainability, and innovation.</H1>
                </div>
            </div>
        </div>

        <div class="fw-row">
            <div class="fw-col-xs-12">

                <div class="fw-divider-space" style="padding-top: 40px;"></div>
            </div>
        </div>
    </div>
</section>
<section class="ss_section_eight spacer_bottom"  style="background-color:#f7f9fe;">
    <div class="container">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                {{ collection:blogs }}

                <div class="swiper-slide">
                    <div class="sp_blog">
                        <a href="{{ url }}"> <img decoding="async" class="img-fluid" src="{{ thumbnail_image }}"
                                alt="{{ title }}" title="{{ title }}" /></a>
                        <div class="sp_blog_box" style="margin-top: 30px;">
                            <a class="sp_blog_date" href="{{ url }}">{{ date }}</a>
                            <h2><a href="{{ url }}">{{ title }}</a></h2>
                            <p>{{ content | truncate:150}}</p>
                            <a href="{{ url }}" class="sp_blog_more">Read More</a>
                        </div>
                    </div>
                </div>
                {{ /collection:blogs }}
            </div>
        </div>

    </div>
</section>
